:root{
    /* Colors */

    --white:hsl(0, 0%, 100%);
    --light-gray:hsl(212, 45%, 89%);
    --grayish-blue:hsl(220, 15%, 55%);
    --dark-blue:hsl(218, 44%, 22%);

    /* Font */
    --main-font:'Outfit', sans-serif;

    /*  widths */
    --desktop:1440px;
    --mobile:375px;
}


/* Globals */
html{
    box-sizing: border-box;
    font-size: 62.5%;

}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    background-color:var(--light-gray) ;
    font-family: var(--main-font);
    line-height: 1.5;
    margin:0;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
    border-radius: 1rem;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.component{
    background-color: var(--white);
    border-radius: 2rem;
    max-width: 33rem;
    width: 90%;
    padding:1.6rem;
}

.component__text{
    text-align: center;
    margin-top: 2rem;
}
.component__heading{
    margin:0;
    font-size:2.4rem;
    color:var(--dark-blue);
}
.component__paragraph{
    color:var(--grayish-blue);
    font-size: 1.7rem;
}